*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top__section{
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: rgb(25, 66, 115);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section{
    margin: 0 auto;
}
.top__section span{
    color: #fff;
    font-size: 14px;
}
.top__section a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(25, 66, 115);
    background-color: #fff;
    padding: 10px 37px;
    margin-left: 50px;
    border-radius: 2em;
}
header{
    max-width: 2000px;
    height: 800px;
    background-image: url(../img/background_top.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
}
.main__width{
    font-family: 'Lato', sans-serif;
    max-width: 1170px;
    margin: 0 auto;  
}
nav{
    float: right;
    margin-top: 30px;
}
nav li+li{
    margin-top: 6px;
}
nav li{
    list-style-type: none;
    width: 25px;
    height: 2px;
    background-color:#fff;
}
.free__portfolio{
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    width: 147px;
    height: 147px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:
    0 0 0 8px rgb(88, 155, 254),
    0 0 0 18px rgb(71, 145, 254);
}
.free__portfolio h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;     
    padding-top: 50px;
}
.free__portfolio article{
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
    line-height: 30px;
}
.free__portfolio a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 70px; 
    color: rgb(54, 149, 255);
    background-color: #fff;
    border-radius: 2em;
    margin-top: 77px;
}
.arrow{
    font-size: 32px;
    color: rgb(140, 192, 255);
    padding-top: 90px;
}
.section__two{
    font-family: 'Lato', sans-serif;
    text-align: center;
    height: 400px;
    font-size: 16px;
    line-height: 35px;/* вопрос*/
}
.section__two h2{
    padding-top: 100px;
    padding-bottom: 70px ;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(54, 149, 255);
}
.section__three{
    font-family: 'Lato', sans-serif;
    background-color: rgb(241, 248, 255);
    height: 1140px;
    width: 100%;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.wrapper h2{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px ;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(54, 149, 255);
}
.wrapper li{
    list-style-type: none;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper li + li{
    margin-left: 28px;
}
.icon{
    width: 140px;
    height: 140px;
    border: 2px solid silver;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper ul h3{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.wrapper ul span{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.wrapper a{
    text-decoration: none;
    color: rgb(54, 149, 255);
}
.marg{
    margin-top: 80px;
}
.section__four{
    font-family: 'Lato', sans-serif;
    height: 1000px;
    width: 1170px;
    margin: 0 auto;
}
.section__four ul{
    display: flex;
    list-style-type: none;
}
.section__four h2{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px ;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(54, 149, 255);
}
.section__four li + li{
    margin-left: 30px;
}
.lanestWorks_marg{
    margin-top: 50px;
}
.clients__wrapper{
    width: 100%;
    background-color: rgb(241, 248, 255);
}
.clients{
    font-family: 'Lato', sans-serif;
    height: 360px;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.clients h2{
    
    text-align: center;
    padding-top: 95px;
    padding-bottom: 70px ;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(54, 149, 255);
}
.company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__wrapper{
    font-family: 'Lato', sans-serif;
    height: 247px;
    width: 100%;
    background-color: rgb(54, 149, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__wrapper a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 70px; 
    color: rgb(54, 149, 255);
    background-color: #fff;
    border-radius: 2em;
    margin-left: 95px;
}
.footer__wrapper  span{
    font-size: 50px;
    color: #fff;
}